{% extends 'base.html' %} {% block content %} {% load static %}
<h1>Hello this is Login Form</h1>
<div class="form-container">
  <h1>Login</h1>
  <form method="post" novalidate>
    {% csrf_token %} {% if forms.non_field_errors %} <br />
    <br />
    {% for er in forms.non_field_errors %}
    <p style="color: red">{{er}}</p>
    {% endfor %} {% endif %} {% for fm in forms %} {{fm.label_tag}} {{fm}}
    <br />
    {{fm.errors |striptags}} {% endfor %}
    <button type="submit" class="submit-button">User Login</button>
  </form>
  <small>Dont Have an accoutn <a href="{% url 'sign_up' %}">Sign Up</a> </small>
</div>

{% endblock %}
