{% extends 'base.html' %} {% block content %} {% load static %}
<h1>Hello this is Password Change Form</h1>
<div class="form-container">
  <h1>Password Change Form</h1>
  <form method="post" novalidate>
    {% csrf_token %} {% if form.non_field_errors %} <br />
    <br />
    {% for er in form.non_field_errors %}
    <p style="color: red">{{er}}</p>
    {% endfor %} {% endif %} {% for fm in form %} {{fm.label_tag}} {{fm}}
    <br />
    {{fm.errors |striptags}} {% endfor %}
    <button type="submit" class="submit-button">Password Change</button>
  </form>
</div>

{% endblock %}
